.container {
  /* font-family: Roboto, sans-serif; */
  background-color: #cf9d8d;
  min-height: 100vh;
  /* position: relative; */
}

.body {
  background-color: #ffbe98;
  min-height: 100vh;
}

#name {
  padding-top: 2.5em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  color: #522a28;
}

.name {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  color: #522a28;
}
.name::selection {
  color: #fff;
  background-color: #000;
}

.description {
  padding-top: 3em;
  justify-items: center;
  margin: auto;
}

/* Свойства фотографии*/
.photo {
  width: 50%;
  border-top-left-radius: 3em;
  /* border: 3px solid transparent; */
  object-fit: cover;
  margin-top: 1em;
  margin-bottom: 1em;
}
/* Эффект наведения на картинку */
.photo:hover {
  /* border: 3px solid rgba(61, 104, 184, 0.1); */
  box-shadow: 20px 10px 30px 5px #964f4c;
  opacity: 0.9;
}
.photo:active {
  transform: scale(0.95);
}

ul.contacts {
  justify-content: center;
  margin-bottom: 0;
}

ul.contacts li {
  display: inline-block;
  border-radius: 0.5em;
}

.card {
  border-radius: 1em;
  text-align: center;
  min-height: 100%;
}
.card:hover {
  border-color: #522a28;
}
.card img {
  padding: 0.5em;
  background-color: #f2e8da;
}
.card-body {
  background-color: #f2e8da;
  color: #522a28;
}
.card-title::selection {
  color: #fff;
  background-color: #000;
}
.blockquote-footer::selection {
  color: #fff;
  background-color: #000;
}
.blur {
  filter: blur(3px); /* Размытие */
  transition: 0.5s; /* Время перехода */
}
.blur:hover {
  filter: blur(0); /* Убираем размытие при наведении */
}
.abzac {
  text-indent: 20px;
  text-align: justify;
  padding-left: 2em;
  padding-right: 2em;
}
.nav-link {
  color: #522a28;
}
.link {
  text-decoration-line: none;
  font-weight: 400;
  color: #522a28;
}
.link:hover {
  color: #ca848a;
}
.accordion-body {
  background-color: #f2e8da;
}
.bg-body-tertiary {
  background-color: black;
}

p {
  color: #522a28;
}
p::selection {
  color: #fff;
  background-color: #000;
}

.button {
  outline: double #522a28;
  background-color: #ffbe98;
  margin-inline: 0.5em;
  margin-block: 0.5em;
  border-radius: 0.3em;
  height: 40px;
}
.button:hover {
  background-color: rgba(82, 42, 40, 0.3);
  color: #522a28;
}

.carousel-item {
  height: 400px;
}

.d-block {
  display: flex;
  max-height: 354px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.d-block:hover {
  box-shadow: 0px 14px 200px 10px #ffbe98;
}

.grid1 {
  max-height: fit-content;
  padding: 0;
}
