.container {
  /* font-family: Roboto, sans-serif; */
  background-color: #ffbe98;
}

.body {
  background-color: #964f4c;
}

.accordion-item {
  border-radius: 0;
}
#name {
  padding-top: 3em;
  text-transform: uppercase;
  color: #522a28;
}

.name {
  margin-top: 1em;
  margin-bottom: 1em;
  text-transform: uppercase;
  color: #522a28;
}

.description {
  padding-top: 1rem;
}

/* Свойства фотографии*/
.photo {
  width: 50%;
  border-top-left-radius: 3em;
  border: 3px solid transparent;
  object-fit: cover;
  margin-top: 1em;
  margin-bottom: 1em;
}
/* Эффект наведения на картинку */
.photo:hover {
  border: 3px solid rgba(61, 104, 184, 0.1);
  box-shadow: 20px 10px 30px 5px #964f4c;
}

ul.contacts li {
  display: inline-block;
  border-radius: 0.5em;
  padding-bottom: 1em;
}

.card {
  border-radius: 1em;
  text-align: center;
}
.card:hover {
  background-color: rgba(61, 104, 184, 0.1);
}
.card img {
  border-radius: 1.3em;
  padding: 0.5em;
}

.blur {
  filter: blur(3px); /* Размытие */
  transition: 0.5s; /* Время перехода */
}
.blur:hover {
  filter: blur(0); /* Убираем размытие при наведении */
}
.abzac {
  text-indent: 20px;
  text-align: justify;
  padding-left: 2em;
  padding-right: 2em;
}

.link {
  text-decoration-line: none;
  font-weight: 400;
}

.accordion-body {
  background-color: #ffbe98;
}

p {
  color: #522a28;
}

.button {
  outline: double #522a28;
  background-color: #ffbe98;
  margin-inline: 0.5em;
  margin-block: 0.5em;
  border-radius: 0.3em;
  height: 40px;
}
.button:hover {
  background-color: rgba(82, 42, 40, 0.3);
  color: #522a28;
}
.btns {
  min-width: max-content;
  justify-items: auto;
}
